<section class="">

  <div>
    <div class="flex flex-row justify-between items-center">
      <h4>Popular Artists</h4>
      <h4>Show all</h4>
    </div>
    <div>
      Cards
    </div>
  </div>

  <div>
    <div class="flex flex-row justify-between items-center">
      <h4>Popular Albums</h4>
      <h4>Show all</h4>
    </div>
    <div>
      Cards
    </div>
  </div>

  <div>
    <div class="flex flex-row justify-between items-center">
      <h4>Popular Radio</h4>
      <h4>Show all</h4>
    </div>
    <div>
      Cards
    </div>
  </div>

  <div>
    <div class="flex flex-row justify-between items-center">
      <h4>Featured Charts</h4>
      <h4>Show all</h4>
    </div>
    <div>
      Cards
    </div>
  </div>

  <div>
    <div class="flex flex-row justify-between items-center">
      <h4>Spotify Playlists</h4>
      <h4>Show all</h4>
    </div>
    <div>
      Cards
    </div>
  </div>

  <div>
    <div class="flex flex-row justify-between items-center">
      <h4>Spotify Original Podcasts</h4>
      <h4>Show all</h4>
    </div>
    <div>
      Cards
    </div>
  </div>

  <div>
    <div class="flex flex-row justify-between items-center">
      <h4>Trending Episodes</h4>
      <h4>Show all</h4>
    </div>
    <div>
      Cards
    </div>
  </div>

</section>
