<section class="flex flex-col gap-[20px]">

  <div class="flex flex-col gap-[20px]">

    <div class="flex flex-row justify-between items-center">
      <h4 class="hover:cursor-pointer hover:underline text-[27px] font-[700]">Popular Artists</h4>
      <h4 class="hover:cursor-pointer hover:underline ">Show all</h4>
    </div>

    <div class="flex flex-row items-center justify-start flex-wrap gap-[5px]">

      <app-artist-card></app-artist-card>
      <app-artist-card></app-artist-card>
      <app-artist-card></app-artist-card>
      <app-artist-card></app-artist-card>
      <app-artist-card></app-artist-card>

    </div>

  </div>

  <div class="flex flex-col gap-[20px]">
    <div class="flex flex-row justify-between items-center">
      <h4 class="hover:cursor-pointer hover:underline text-[27px] font-[700]">Popular Albums</h4>
      <h4 class="hover:cursor-pointer hover:underline ">Show all</h4>
    </div>
    <div class="flex flex-row items-center justify-start flex-wrap gap-[5px]">
      
      <app-album-card></app-album-card>
      <app-album-card></app-album-card>
      <app-album-card></app-album-card>
      <app-album-card></app-album-card>
      <app-album-card></app-album-card>

    </div>
  </div>

  <div class="flex flex-col gap-[20px]">
    <div class="flex flex-row justify-between items-center">
      <h4 class="hover:cursor-pointer hover:underline text-[27px] font-[700]">Popular Radio</h4>
      <h4 class="hover:cursor-pointer hover:underline ">Show all</h4>
    </div>
    <div class="flex flex-row items-center justify-start flex-wrap gap-[5px]">
      <app-album-card></app-album-card>
      <app-album-card></app-album-card>
      <app-album-card></app-album-card>
      <app-album-card></app-album-card>
      <app-album-card></app-album-card>
    </div>
  </div>

  <div class="flex flex-col gap-[20px]">
    <div class="flex flex-row justify-between items-center">
      <h4 class="hover:cursor-pointer hover:underline text-[27px] font-[700]">Featured Charts</h4>
      <h4 class="hover:cursor-pointer hover:underline ">Show all</h4>
    </div>
    <div class="flex flex-row items-center justify-start flex-wrap gap-[5px]">
      <app-album-card></app-album-card>
      <app-album-card></app-album-card>
      <app-album-card></app-album-card>
      <app-album-card></app-album-card>
      <app-album-card></app-album-card>
    </div>
  </div>

  <div class="flex flex-col gap-[20px]">
    <div class="flex flex-row justify-between items-center">
      <h4 class="hover:cursor-pointer hover:underline text-[27px] font-[700]">Spotify Playlists</h4>
      <h4 class="hover:cursor-pointer hover:underline ">Show all</h4>
    </div>
    <div class="flex flex-row items-center justify-start flex-wrap gap-[5px]">
      <app-album-card></app-album-card>
      <app-album-card></app-album-card>
      <app-album-card></app-album-card>
      <app-album-card></app-album-card>
      <app-album-card></app-album-card>
    </div>
  </div>

  <div class="flex flex-col gap-[20px]">
    <div class="flex flex-row justify-between items-center">
      <h4 class="hover:cursor-pointer hover:underline text-[27px] font-[700]">Spotify Original Podcasts</h4>
      <h4 class="hover:cursor-pointer hover:underline ">Show all</h4>
    </div>
    <div class="flex flex-row items-center justify-start flex-wrap gap-[5px]">
      <app-album-card></app-album-card>
      <app-album-card></app-album-card>
      <app-album-card></app-album-card>
      <app-album-card></app-album-card>
      <app-album-card></app-album-card>>
    </div>
  </div>

  <div class="flex flex-col gap-[20px]">
    <div class="flex flex-row justify-between items-center">
      <h4 class="hover:cursor-pointer hover:underline text-[27px] font-[700]">Trending Episodes</h4>
      <h4 class="hover:cursor-pointer hover:underline ">Show all</h4>
    </div>
    <div class="flex flex-row items-center justify-start flex-wrap gap-[5px]">
      <app-album-card></app-album-card>
      <app-album-card></app-album-card>
      <app-album-card></app-album-card>
      <app-album-card></app-album-card>
      <app-album-card></app-album-card>
    </div>
  </div>


</section>
