<section class="main w-full px-[10px] py-[10px] flex flex-row bg-[#000000] text-white h-screen gap-[10px] scrollbar-thin scrollbar-track-black scrollbar-thumb-[#1c0707]">

  <section class="side-bar flex flex-col justify-start gap-[10px] bg-transparent w-1/4 rounded-lg">

    <div class="side-menu border-[1px] border-[#740505] rounded-lg px-[20px] py-[20px] flex flex-col justify-center gap-[10px] bg-[#0c0606]">

      <a href="/" class="flex flex-row items-center gap-[20px] hover:bg-pink-950 hover:cursor-pointer transition duration-300 px-[10px] py-[7px] rounded-lg">
        <img src="../assets/home.png" alt="" class="w-[23px]">
        <h4 class="font-[600] text-[17px]">Home</h4>
      </a>

      <a href="/search" class="flex flex-row items-center gap-[20px] hover:bg-pink-950 hover:cursor-pointer transition duration-300 px-[10px] py-[7px] rounded-lg">
        <img src="../assets/search.png" alt="" class="w-[23px]">
        <h4 class="font-[600] text-[17px]">Search</h4>
      </a>

    </div>

    <div class="library border-[1px] border-[#740505] rounded-lg px-[10px] py-[20px] flex flex-col justify-center gap-[28px] bg-[#0c0606]">

      <div class="flex flex-row justify-between px-[15px]">

        <div class="flex flex-row gap-[10px] hover:cursor-pointer">
          <img src="../assets/library.png" alt="" class="w-[23px]">
          <h4 class="font-[600] texyt-[17px]">Your Library</h4>
        </div>

        <div class="flex flex-row gap-[10px]">
          <img src="../assets/plus.png" alt="" class="rounded-full p-[3px] hover:bg-pink-950 hover:cursor-pointer transition duration-300 w-[25px] h-[25px]">
          <img src="../assets/right-arrow.png" alt="" class="rounded-full p-[3px] hover:bg-pink-950 hover:cursor-pointer transition duration-300 w-[25px] h-[25px]">
        </div>

      </div>

      <div class="flex flex-col justify-start items-start gap-[10px] rounded-lg overflow-y-auto h-[280px] scrollbar-thin scrollbar-track-black scrollbar-thumb-[#1c0707]">

        <div class="w-full bg-[#210707] rounded-lg flex flex-col justify-center items-start gap-[10px] px-[20px] py-[10px]">
          <h4 class="font-[600] text-[17px]">Create your first playlist</h4>
          <p class="text-[15px]">It's easy, we'll help you</p>
          <button class="text-[15px] px-[20px] py-[5px] rounded-3xl bg-pink-900 hover:bg-pink-700 transition duration-300">Create playlist</button>
        </div>

        <div class="w-full rounded-lg flex flex-col justify-center items-start gap-[10px] px-[20px] py-[10px] bg-[#210707]">
          <h4 class="font-[600] text-[17px]">Let's find some podcasts to follow</h4>
          <p class="text-[15px]">We'll help you updated on new episodes</p>
          <button class="text-[15px] px-[20px] py-[5px] rounded-3xl bg-pink-900 hover:bg-pink-700 transition duration-300">Browse Podcasts</button>
        </div>

      </div>

    </div>

  </section>

  <section class="route w-3/4  flex flex-col justify-start gap-[10px] rounded-lg bg-[#140404] h-[517px] ">
    <router-outlet></router-outlet>
  </section>

</section>

