<section class="main flex flex-row bg-gray-800 text-white h-screen">
  <section class="side-bar bg-gray-900 w-1/4">
    <div class="side-menu">
      <div>
        <img src="../assets/home.png" alt="">
        <h4>Home</h4>
      </div>
      <div>
        <img src="../assets/search.png" alt="">
        <h4>Search</h4>
      </div>
    </div>
    <div class="library">

      <div>
        <div>
          <img src="" alt="">
          <h4>Your Library</h4>
        </div>

        <div>
          <img src="" alt="">
          <img src="" alt="">
        </div>
      </div>

      <div>
        <h4>Create your first playlist</h4>
        <p>It's easy, we'll help you</p>
        <button>Create playlist</button>
      </div>

      <div>
        <h4>Let's find some podcasts to follow</h4>
        <p>We'll help you updated on new episodes.</p>
        <button>Browse Podcasts</button>
      </div>
    </div>
  </section>
  <section class="route w-3/4">
    <router-outlet></router-outlet>
  </section>
</section>

